.main-area {
  min-width: 960px;
  display: flex;
}

.ccp-container {
  width: 400px;
  height: 640px;
  overflow: hidden;
  padding: 24px;
}

.content-container {
  width: calc(100% - 400px);
  padding: 24px;
}

.customer-table-header, .customer-table-body-row {
  display: grid;
  grid-template-columns: 2fr 3fr 100px;
  gap: 16px;
  border-bottom: 1px solid black;
}

.customer-table-header > div {
  display: flex;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  box-sizing: border-box;
}

.customer-table-body {
  height: 600px;
  overflow-y: auto;
}

.customer-table-body-row > div {
  display: flex;
  font-size: 24px;
  line-height: 32px;
  padding: 8px;
  box-sizing: border-box;
}